.header {
  padding-top: 31px;
  height: 25px;
}

.header-inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
  margin-top: -1px;
  width: 128px;
  height: 23px;
}

.logo {
  display: block;
  width: 128px;
  height: 24px;
}

.header-nav {
  display: flex;
  gap: 61px;
  vertical-align: top;
  padding-top: 2px;
}

.header-nav-link {
  height: 25px;
  padding-bottom: 1px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #121212;
}

.header-nav-link:last-child {
  margin-right: 0;
}

.header-nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199px) {
  .header {
    padding-top: 32px;
    padding-left: 1px;
  }
  .logo {
    height: 23px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 31px;
  }
  .logo {
    width: 97px;
    height: 18px;
  }
}
